<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Staff Manager

        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><a ui-sref="Blog-list">Manage Staff </a></li>
            <li><a href="javascript:void(0)" class="active"> Edit Staff </a></li>

        </ol>
    </section>




    <section class="content">
        <div class="row">


            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="box box-primary" style="overflow:hidden; padding-bottom:40px;">

                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <h3 class="box-title">Edit Staff</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="formsection">
                        <form angular-validator-submit="editmediaformsubmit()"  name="add_media" role="form" novalidate angular-validator>
                
          <div class="box-body">

                    <div class="form-group">
                      <label >Name* :</label>
                      <input type="text" class="form-control" placeholder="Name " name="title"

                             ng-model="form.title"
                             required-message="'Name can not be blank.'"
                             required>
					</div>
                    <div class="form-group">
                      <label >Designation* :</label>
                      <input type="text" class="form-control" placeholder="Designation " name="designation"

                             ng-model="form.designation"
                             required-message="'Designation can not be blank.'"
                             required>
					</div>
                    <div class="form-group">
                      <label >Phone No :</label>
                      <input type="text" class="form-control" placeholder="Phone No " name="phone"

                             ng-model="form.phone">

					</div>
                    <div class="form-group">
                      <label >Email :</label>
                      <input type="email" class="form-control" placeholder="Email" name="email"

                             ng-model="form.email">

					</div>
                    <div class="form-group">
                      <label >Description* :</label>
                      <textarea  ui-tinymce="tinymceOptions"   name="description" indexval="0" ng-model="form.description" required required-message="'Description can not be blank. '"

                                                ></textarea>
					</div>

					<div class="form-group">
                      <label >Type* :</label>
                      <select name="type" class="form-control" ng-model="form.type" required required-message="'Type can not be blank. '">
							<option value="">Select Any One Type</option>
							<option value="1">Administrator</option>
							<option value="2">Paralegals / Clerks</option>
					  </select>
					</div>

              <div class="form-group">
                  <label >Priority* :</label>
                  <input type="text" class="form-control" placeholder="Priority" name="priority"

                         ng-model="form.priority"
                         required-message="'Priority can not be blank.'"
                         required>
              </div>

              <div class="form-group">
                  <label >Featured?* :</label>
                  <input type="checkbox"
                         ng-model="form.featured"
                         name="featured"
                         ng-true-value="'1'"
                         ng-false-value="'0'">
              </div>


              <div class="form-group">
					  <label >Picture* (Please Upload 400X400 Picture):</label>
							<input type="button" class="searchbtn btn  btn-md"   value="Upload" ngf-drop ngf-select ng-model="picturupload" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-multiple="false" ngf-allow-dir="true" accept="'image/*'" ngf-drop-available="dropAvailable" ngf-capture="camera">

                          <div class="progress" ng-show="picturupload[0].progress >= 0"> <div style="width:{{product_upload[0].progress}}%; background:#00c0ef;" ng-bind="picturupload[0].progress + '%'"></div></div>
                          <div class="clearfix"></div>
						  <div ng-show="form.picture"><img src="nodeserver/uploads/{{form.picture}}" style="max-width:100%;" /></div>
                            <div ng-show="form.picture"><input type="button" class="searchbtn btn  btn-md"   value="Delete" ng-click="delImage()"></div>
                          <div class="clearfix"></div>

                      </div>

                  </div><!-- /.box-body -->

        
				<div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box -->


                    <div style="clear:both;"></div>
                </div>

            </div>   <!-- /.row -->
        </div>
    </section>




</div>



<script type="text/ng-template" id="youtubeVideo2">

    <div class="ngdialog-message" id="youtubemodal">

        <h4>Select Video</h4>

        <div class="youtubeVideo">

            <img src="images/newloginclose.png" ng-click="cancel()" style="cursor: pointer;"  alt="" class="videopopupclose ngdialog-close" />

            <div ng-repeat="c in vids">

                <div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
                    <!--         <iframe class="embed-responsive-item" video-id="c.id.videoId" width="80%" height="400"></iframe>
         -->
                    <youtube-video class="embed-responsive-item" video-id="c.id.videoId"></youtube-video>

                    <!--<img src="https://i.ytimg.com/vi/{{c.id.videoId}}/mqdefault.jpg" width="100%">

                    <img src="images/`youtube-playbtn.png" class="paly_video"  ng-click="playYvideo(c.id.videoId)" style="cursor:pointer;">-->

                </div>

                <h1>{{c.snippet.title}}</h1>

                <a href="javascript:void(0)" ng-click="addYtVideo1(c)" class="vidAddBtn">ADD</a>

            </div>

        </div>

    </div>

</script>




