<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Area Of Expert Manager</h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><a ui-sref="Blog-list">Manage Area Of Expert </a></li>
            <li><a href="javascript:void(0)" class="active"> Edit Area Of Expert </a></li>

        </ol>
    </section>




    <section class="content">
        <div class="row">


            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="box box-primary" style="overflow:hidden; padding-bottom:40px;">

                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <h3 class="box-title">Edit Area Of Expert</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    <div class="formsection">
                        <form angular-validator-submit="editformsubmit()"  name="editform" role="form" novalidate angular-validator>

                            <div class="box-body">
                                <div class="form-group">
                                    <label >Title* :</label>
                                    <input type="text" class="form-control" placeholder="Title" name="title"
                                           ng-model="form.title"
                                           required-message="'Title can not be blank.'"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label >Description*  :</label>
                                    <textarea class="form-control" placeholder="Description" name="description" ng-model="form.description" required required-message="'Description can not be blank. '"></textarea>

                                </div>
                                <div class="form-group">
                                    <label >Priority* :</label>
                                    <input type="text" class="form-control" placeholder="Priority" name="priority"
                                           ng-model="form.priority"
                                           required-message="'Priority can not be blank.'"
                                           required>
                                </div>
                            </div>



                            <div class="box-footer" style="background:none; height:auto; padding-bottom:0px; padding-top:0px;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box -->


                    <div style="clear:both;"></div>
                </div>

            </div>   <!-- /.row -->
        </div>
    </section>




</div>



<script type="text/ng-template" id="youtubeVideo2">

    <div class="ngdialog-message" id="youtubemodal">

        <h4>Select Video</h4>

        <div class="youtubeVideo">

            <img src="images/newloginclose.png" ng-click="cancel()" style="cursor: pointer;"  alt="" class="videopopupclose ngdialog-close" />

            <div ng-repeat="c in vids">

                <div style="margin-bottom:10px;" class="embed-responsive embed-responsive-16by9 video-wrapper" >
                    <!--         <iframe class="embed-responsive-item" video-id="c.id.videoId" width="80%" height="400"></iframe>
         -->
                    <youtube-video class="embed-responsive-item" video-id="c.id.videoId"></youtube-video>

                    <!--<img src="https://i.ytimg.com/vi/{{c.id.videoId}}/mqdefault.jpg" width="100%">

                    <img src="images/`youtube-playbtn.png" class="paly_video"  ng-click="playYvideo(c.id.videoId)" style="cursor:pointer;">-->

                </div>

                <h1>{{c.snippet.title}}</h1>

                <a href="javascript:void(0)" ng-click="addYtVideo1(c)" class="vidAddBtn">ADD</a>

            </div>

        </div>

    </div>

</script>




