<div class="content-wrapper">
    <section class="content-header">
        <h1>Dashboard</h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="admin-list">
                    <div class="inner">
                        <h3>Manage Admin</h3>
                    </div>
                    <div class="icon">
                        <img src="images/newadminicon1.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="admin-list"  class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        <!--    <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="rolelist">
                    <div class="inner">
                        <h3>Manage Role</h3>
                    </div>
                    <div class="icon">
                        <img src="images/adminicon_roll.png" alt="#" style="display:block; margin:29px auto; width:50px;">
                    </div>
                    <a ui-sref="rolelist" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>-->

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="article-list">
                    <div class="inner">
                        <h3>Manage Article</h3>
                    </div>
                    <div class="icon">
                        <img src="images/adminicon_article.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="article-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="media-list">
                    <div class="inner">
                        <h3>Manage Media</h3>
                    </div>
                    <div class="icon">
                        <img src="images/adminicon_media.png" alt="#" style="display:block; margin:24px auto; width:48px;">
                    </div>
                    <a ui-sref="media-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="expertarea-list">
                    <div class="inner">
                        <h3>Area Of Expert </h3>
                    </div>
                    <div class="icon">
                        <img src="images/ae_icon.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="expertarea-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="stuff-list">
                    <div class="inner">
                        <h3>Manage Staff </h3>
                    </div>
                    <div class="icon">
                        <img src="images/adminicon_staff.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="stuff-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="banner-list">
                    <div class="inner">
                        <h3>Manage Banner</h3>
                    </div>
                    <div class="icon">
                        <img src="images/adminicon_banner.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="banner-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="gallery-list">
                    <div class="inner">
                        <h3>Manage Gallery</h3>
                    </div>
                    <div class="icon">
                        <img src="images/ga_icon.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="gallery-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="testimonial-list">
                    <div class="inner">
                        <h3>Manage Testimonial</h3>
                    </div>
                    <div class="icon">
                        <img src="images/te_icon.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="testimonial-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="probonoarticle-list">
                    <div class="inner">
                        <h3>Manage Probono article</h3>
                    </div>
                    <div class="icon">
                        <img src="images/newadminicon11.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a ui-sref="testimonial-list" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="logout">
                    <div class="inner">
                        <a href="javascript:void(0)"> <h3>log out</h3></a>
                    </div>
                    <div class="icon">
                        <img src="images/aicon9.png" alt="#" style="display:block; margin:24px auto; width:48px;">
                    </div>
                    <a ui-sref="logout" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>


        </div>
    </section>
</div>