



<div class="container-fluid probonobanner1wrapper">
    <!--<div class="probonobannerblock">
        <h2><content name='probonobannerblockh257711aee6b4a7edd295374b1' id='57711aee6b4a7edd295374b1' > </content></h2>
    </div>-->
    <div class="probonobanner1wrapperblock">
        <h2><content name='probonobannerblockh257711aee6b4a7edd295374b1' id='57711aee6b4a7edd295374b1' > </content></h2>
        <div class="probonobanner1wrapperblockimg">
            <content name='probonobanner1wrapperblockimg57bd9a1a6d2917be592c2e1d' id='57bd9a1a6d2917be592c2e1d' > </content>
        </div>
    </div>
</div>


<div class="container-fluid probonoblock1">

        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 probonoblock1left">
            <div class="probonoblock1leftcontent">
                <div class="probonoblock1leftcontentinner">
                    <h2><content name='probonoblock1leftcontentinnerh257711b1f6b4a7edd295374b2' id='57711b1f6b4a7edd295374b2' > </content></h2>
                    <p><content name='probonoblock1leftcontentinnerp57711b566b4a7edd295374b3' id='57711b566b4a7edd295374b3' > </content></p>
                    <p><content name='probonoblock1leftcontentinnerp157711b7b6b4a7edd295374b4' id='57711b7b6b4a7edd295374b4' > </content></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 probonoblock1right" style="padding-top: 20px;">
            <!--<div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5NlyCjM8hnY?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
            </div>-->
            <div class="probonoblock1rightcontent text-center">



              <!--  <a href="http://www.advocates4justice209.org/" target="_blank"><content name='probonoblock1rightcontentprobonoblock1right57711c876b4a7edd295374b7' id='57711c876b4a7edd295374b7' > </content></a>-->

                 <img src="../images/probononewimg.jpg" alt="#" class="probononewimg">


                <!--<div class="doublevideo">
                    <div class="leftvideo">
                        <div class="videoWrapper">
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/2-I3B5mDzuA?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="rightvideo">
                        <div class="videoWrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjAgh7AAVs?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="rightvideo">
                        <div class="videoWrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjAgh7AAVs?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="rightvideo">
                        <div class="videoWrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjAgh7AAVs?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="rightvideo">
                        <div class="videoWrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjAgh7AAVs?rel=0" autoplay="false" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>-->

                <div class="doc-list-wrapper" data-docs="docs" style="margin-top: 25px;margin-right: auto;margin-left: auto"></div>


                <h2>Articles:</h2>

              <div ng-repeat="itemarticle in itemlist|orderBy:predicate:reverse|limitTo:4">
               <div class="probonoblocktext" ng-bind="itemarticle.title"></div>
<!--
                <div class="probonoblocktext"><content name='probonoarticleheading157b56cd65e99385947fd4390' id='57b56cd65e99385947fd4390' > </content></div>
-->
                <a  class="probonoblocklink" target="_blank" href="{{itemarticle.link}}">{{itemarticle.link}}</a>
                <hr>
                  </div>
<!--
                <div class="probonoblocktext">Despite Progress, African Americans more likely to be expelled, less likely to excel</div>
                <a class="probonoblocklink" target="_blank" href="http://www.modbee.com/news/local/education/article55226100.html"> http://www.modbee.com/news/local/education/article55226100.html</a>
                <hr>

                <div class="probonoblocktext">Modesto City Schools moves board meeting to Gregori to accommodate crowds</div>
                <a class="probonoblocklink" target="_blank" href=" http://www.modbee.com/news/local/education/article59243023.html"> http://www.modbee.com/news/local/education/article59243023.html</a>
                <hr>

                <div class="probonoblocktext">African American supporters, teachers rally before Modesto City School board meeting</div>
                <a class="probonoblocklink" target="_blank" href="http://www.modbee.com/news/local/education/article59461672.html"> http://www.modbee.com/news/local/education/article59461672.html </a>
                <hr>
-->




                <h2><content name='probonoblock1rightcontenth257711c2c6b4a7edd295374b6' id='57711c2c6b4a7edd295374b6' > </content></h2>

                <a class="alink1" href="http://www.advocates4justice209.org/" target="_blank">http://www.advocates4justice209.org/</a>

                <h2><content name='facebooklikeh257711d9a6b4a7edd295374b9' id='57711d9a6b4a7edd295374b9' > </content></h2>
                <div class="clearfix"></div>


                <div class="fbheader1">
                    <div style="display: inline;float: left"><a href="https://www.facebook.com/AdvocatesForJustice209/" target="_blank"><img style="display: inline" src="../images/iconfb.png"> </a> </div>
                    <div style="margin-top: 0px;float: left;margin-left: 16px" class="fb-like" data-href="https://www.facebook.com/AdvocatesForJustice209/?fref=ts" data-width="312" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
        </div>
    </div>

</div>

<div class="container-fluid probonoblock2">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 probonoblock2left">
            <div class="doublevideo">
                <div class="leftvideo" ng-show="docs2.length >=1">
                    <div class="videoWrapper">
                        <h6><span>{{docs2[0].name | limitTo:45}} {{docs2[0].name.length > 45 ? '...' : ''}}</span></h6>
                        <img ng-click="probonovidoopen(docs2[0].url)" src="https://i.ytimg.com/vi/{{docs2[0].url}}/hqdefault.jpg" alt="#" >
<!--
                        <iframe width="420" height="400" src="{{docs2[0]}}" autoplay="false" frameborder="0" allowfullscreen></iframe>
--><img ng-click="probonovidoopen(docs2[0].url)" style="cursor:pointer" src="../images/videoplay1.png" alt="#" class="videoplay">
                    </div>
                   <!-- <div class="media-video_info_con ">

                    </div>-->
                </div>
                <div class="rightvideo" ng-show="docs2.length >=2">
                    <div class="videoWrapper">
                        <h6><span>{{docs2[1].name | limitTo:45}} {{docs2[1].name.length > 45 ? '...' : ''}}</span></h6>
                        <img ng-click="probonovidoopen(docs2[1].url)" src="https://i.ytimg.com/vi/{{docs2[1].url}}/hqdefault.jpg" alt="#" >
<!--
                        <iframe width="560" height="400" src="{{docs2[1]}}" autoplay="false" frameborder="0" allowfullscreen></iframe>
--><img  ng-click="probonovidoopen(docs2[1].url)" style="cursor:pointer" src="../images/videoplay1.png" alt="#" class="videoplay">
                    </div>

                    <!--<div class="media-video_info_con ">

                    </div>-->
                </div>
            </div>

            <div class="probonoblock2leftcontent text-center">
              <!--  <h2>First Court Watch</h2>-->
                <div class="videoWrapper" ng-show="docs2.length >=3">
                    <h6><span>{{docs2[2].name | limitTo:45}} {{docs2[2].name.length > 45 ? '...' : ''}}</span></h6>
                    <img ng-click="probonovidoopen(docs2[2].url)" src="https://i.ytimg.com/vi/{{docs2[2].url}}/hqdefault.jpg" alt="#" >
<!--
                    <iframe width="560" height="400" src="{{docs2[2]}}" autoplay="false" frameborder="0" allowfullscreen></iframe>
-->
                    <img   ng-click="probonovidoopen(docs2[2].url)" style="cursor:pointer" src="../images/videoplay1.png" alt="#" class="videoplay">
                </div>
<div class="clearfix"></div>
                <h2>Like us on Facebook</h2>
                <!--<div style="width: 150px; display: block; margin: 0 auto; margin-bottom:20px">
                <div class="fb-like" data-href="https://www.facebook.com/comewatchcriminalcourt/?fref=nf" data-width="312" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>-->

                <div class="fbheader1" style="margin-top: -10px">
                    <div style="display: inline;float: left"><a href="https://www.facebook.com/comewatchcriminalcourt/" target="_blank"><img style="display: inline" src="../images/iconfb.png"> </a> </div>
                    <div style="margin-top: 0px;float: left;margin-left: 16px" class="fb-like" data-href="https://www.facebook.com/comewatchcriminalcourt/" data-width="312" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
               <!-- <a class="alink1" href="https://www.facebook.com/comewatchcriminalcourt/?fref=nf" target="_blank">www.facebook.com/comewatchcriminalcourt/?fref=nf</a>
           --> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 probonoblock2right">
            <div class="probonoblock2rightcontent">
                <div class="probonoblock2rightcontentinner">
                    <h2><content name='probonoblock2rightcontentinnerh257711f966b4a7edd295374bd' id='57711f966b4a7edd295374bd' > </content></h2>
                    <p><content name='probonoblock2rightcontentinnerp157711fb26b4a7edd295374be' id='57711fb26b4a7edd295374be' > </content></p>
                    <p><content name='probonoblock2rightcontentinnerp257711fd26b4a7edd295374bf' id='57711fd26b4a7edd295374bf' > </content></p>
                    <!--<p><content name='probonoblock2rightcontentinnerp357711fef6b4a7edd295374c0' id='57711fef6b4a7edd295374c0' > </content></p>-->
                </div>

            </div>
        </div>
    </div>
</div>

</div>
<!--
                    <iframe width="100%" height="127" src="{{doc.iframeurl}}" autoplay="false" frameborder="0" allowfullscreen></iframe>
-->
<script type="text/ng-template" id="tmpl-doc-list-wrapper">
    <ul class="doc-list" bx-slider>
        <li class="doc-thumbnail" ng-repeat="doc in docs | orderBy:'priority':true" bx-slider-item style="height: 113px;">

            <div class="leftvideor" style="margin-left: 2px;margin-top: 2px;margin-right: 2px">
                <div class="videoWrapper" >
                    <h6><span>{{doc.name1 | limitTo:20}} {{doc.name1.length > 20 ? '...' : ''}}</span></h6>
                    <img style="width:100%;height:127px;" src="https://i.ytimg.com/vi/{{doc.iframeurl}}/hqdefault.jpg" alt="#" >
                    <img  ui-sref="probonopopupvideo(iframeurl:doc.iframeurl)"  ng-click="probonovidoopen(doc.iframeurl)"  style="cursor:pointer" src="../images/videoplay1.png" alt="#" class="videoplay">


                </div>
                </div>

        </li>
    </ul>
</script>

    <script type="text/ng-template" id="probonovideopopup.html">
        <div class="confirm_delpopup" >
            <a ng-click="cancel22()" class="shutter-close2 ng-scope" href="javascript:void(0);"><img src="images/popup-Close.png"> </a>
            <div class="clearfix"></div>

            <div class="confirm_delbtn ng-scope text-center">
                <!--{{videosrc}}-->
                <iframe width="560" height="400" src="{{videosrc}}" autoplay="true" frameborder="0" allowfullscreen></iframe>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    </script>
